<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
>

	<bean id="solution" class="com.galatea.chris.advent2016.solutions.Day2Solution">
	    <constructor-arg ref="listFetcher"></constructor-arg>
	    <constructor-arg ref="gridFetcher"></constructor-arg>
	</bean>
	
	<bean id="listFetcher" class="com.galatea.chris.advent2016.fetchers.SingleCharacterFileFetcher">
	    <constructor-arg value="Day2/input.txt" type="String"></constructor-arg>
	</bean>
	
	<bean id="gridFetcher" class="com.galatea.chris.advent2016.fetchers.CSVGridFetcher">
	    <constructor-arg value="Day2/grid.csv" type="String"></constructor-arg>
	</bean>

</beans>